.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--tw-color-bavarian-white);
    /* White background */
    color: var(--tw-color-bavarian-blue);
    /* Blue text */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--tw-color-bavarian-blue);
    /* Blue title */
}

.text {
    font-size: 1rem;
    /* Match the text size of Player Registration */
    color: var(--tw-color-bavarian-blue);
    /* Gray text color */
    line-height: 1.5;
    margin: 0px 100px;
    margin-bottom: 24px;
    /* Improve readability */
}

@media (max-width: 767px) {
    .text {
        margin: auto;
        margin-bottom: 24px;
    }
  }

.buttonWrapper {
    display: flex;
    justify-content: center;
    /* Center the button horizontally */
}

.button {
    display: inline-block;
    background-color: #0056b3;
    /* Bavarian blue for the button */
    color: #ffffff;
    /* White text */
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #003f7f;
    /* Darker blue on hover */
}